ai_code.py
scrnsht.png
classic_catan_map.png
notes.txt
key_knowledge_points.txt
developernotes.md
project_structure.md
additional_code_variants.py
*q.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix